<div class="container">
  <h1>Título</h1>
  <p>Párrafo</p>

  <hr />

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere massa eget elit tincidunt ultrices. Maecenas
    porta augue vel lacus mollis fermentum. Morbi faucibus, tellus a bibendum viverra, nulla sapien ornare ante, vel
    rutrum magna ipsum ac orci. Cras quis risus convallis, consequat purus at, porta dolor. Nunc augue nisl, tincidunt
    vel maximus pretium, blandit non enim. Donec quam urna, luctus at quam eu, sagittis tristique odio. Ut tempus justo
    dignissim est pharetra lacinia. Maecenas maximus sollicitudin dolor, eu tempus libero euismod sed. Praesent vitae
    imperdiet quam. Phasellus vitae pulvinar leo, non tristique quam. Duis urna libero, dapibus auctor sapien id,
    iaculis posuere risus. In ultrices nisi eget elit rhoncus rutrum. Phasellus libero sem, semper vitae consequat a,
    viverra in libero. Etiam pulvinar mattis nisl quis consequat. Nam tincidunt maximus scelerisque.</p>
</div>
